{% import 'checkmk_config.j2' as macros with context %}
# {{ ansible_managed }}
# encoding: utf-8

{% set _sites_mk = {} %}
{% for _site in checkmk_server__sites %}
{%   set _ = _sites_mk.update({_site.name: {}}) %}
{%   if _site.connection|d('remote') == 'local' %}
{%     set _property_list = checkmk_server__local_site_properties %}
{%   else %}
{%     set _property_list = checkmk_server__remote_site_properties %}
{%   endif %}
{%   for _prop in (_property_list | difference(['password'])) %}
{%     if ('multisite_' + _prop) in _site.keys() %}
{%       set _ = _sites_mk[_site.name].update({_prop: _site['multisite_' + _prop]}) %}
{%     endif %}
{%     if ('livestatus_' + _prop) in _site.keys() %}
{%       set _ = _sites_mk[_site.name].update({_prop: _site['livestatus_' + _prop]}) %}
{%     endif %}
{%     if (_prop == 'multisiteurl') and ('multisite_url' in _site.keys()) %}
{%       set _ = _sites_mk[_site.name].update({_prop: _site['multisite_url']}) %}
{%     endif %}
{%   endfor %}
{%   if 'results' in checkmk_server__register_multisite_automation_login %}
{%     for _result in checkmk_server__register_multisite_automation_login.results|d({}) %}
{%       if (not _result | skipped) and (_result.item.item.name == _site.name) %}
{%         set _ = _sites_mk[_site.name].update({'secret': _result.content|replace("'", "")}) %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
{% if _sites_mk %}
sites = \
{{ macros.tmpl_format__dict_multiline(_sites_mk) }}
{% endif %}
